<script id="promisepay-integration" type="text/javascript" data-jquery="true" src="https://express.prelive.promisepay.com/dist/wrapper.js"></script>
<div id="promisepay-1" data-session="SESSION_TOKEN_GOES_HERE" data-type="1" class="promisepay-widget"></div>
<div class="container">
%h1 Welcome#index
%p Find me in app/views/welcome/index.html.haml
</div>